
// Options for running the pipeline on the Clinical Genomics HPC

process {
    executor = 'slurm'
    cpus = 1
    memory = "5GB"
    time = "2h"
    clusterOptions = { "-A $params.priority ${params.clusterOptions ?: ''}" }

    withName:fastqc {
        time = "2h"
    }
    withName:build_fasta_dict {
        memory = "10GB"
    }
    withName:fastp {
        cpus = 8
        memory = "40GB"
        time = "3h"
    }
    withName:picard_collectrnaseqmetrics {
        memory = "10GB"
        time = "4h"
    }
    withName:multiqc {
        memory = "10GB"
        time = "2h"
    }
    withName:stringtie {
        cpus = 24
        memory = "48GB"
        time = "12h"
    }
    withName:bcftools_prep_vcf {
        cpus = 4
    }
    withName:bcftools_compress_and_index {
        cpus = 4
    }
    withName:bcftools_variantcall {
        cpus = 24
        memory = "100GB"
        time = "4h"
    }
    withName:STAR_Aln {
        cpus = 36
        memory = "180GB"
        time = "24h"
    }
    withName:gatk_split {
        cpus = 8
        memory = "160GB"
        time = "16h"
    }
    withName:gatk_haplotypecaller {
        cpus = 16
        memory = "80GB"
        time = "16h"
    }
    withName:gatk_asereadcounter {
        cpus = 2
        memory = "30GB"
        time = "12h"
    }
    withName:bootstrapann {
        time = "2h"
    }
    withName:recompress_and_index_vcf {
        cpus = 4
    }
    withName:filter_bam {
        cpus = 8
        memory = "20GB"
        time = "4h"
    }
    withName:vep {
        cpus = 8
        memory = "40GB"
        time = "4h"
    }

    // DROP
    withName:drop_aberrant_expression {
        cpus = 24
        memory = "180GB"
        time = "24h"
    }
}
