// Options for modules

process {
    withName:index_fasta {
        container = { workflow.containerEngine == 'singularity'
            ? 'https://depot.galaxyproject.org/singularity/samtools:1.14--hb421002_0'
            : 'quay.io/biocontainers/samtools:1.14--hb421002_0' }
    }
    withName:fastp {
        container = { workflow.containerEngine == 'singularity'
            ? 'https://depot.galaxyproject.org/singularity/fastp:0.23.2--hb7a2d85_2'
            : 'quay.io/biocontainers/fastp:0.23.2--hb7a2d85_2' }
        publishDir = [
            path: { "${params.output}/" },
            mode: 'copy',
            pattern: "*.{json,html,log}",
        ]
    }
    withName:build_fasta_dict {
        container = { workflow.containerEngine == 'singularity'
            ? 'https://depot.galaxyproject.org/singularity/gatk4:4.2.4.1--hdfd78af_0'
            : 'quay.io/biocontainers/gatk4:4.2.4.1--hdfd78af_0' }
    }
    withName:gtf2refflat {
        container = { workflow.containerEngine == 'singularity'
            ? 'https://depot.galaxyproject.org/singularity/ucsc-gtftogenepred:377--h0b8a92a_4'
            : 'quay.io/biocontainers/ucsc-gtftogenepred:377--h0b8a92a_4' }
    }
    withName:picard_collectrnaseqmetrics {
        container = { workflow.containerEngine == 'singularity'
            ? 'https://depot.galaxyproject.org/singularity/picard:2.26.7--hdfd78af_0'
            : 'quay.io/biocontainers/picard:2.26.7--hdfd78af_0' }
        publishDir = [
            path: { "${params.output}/" },
            mode: 'copy',
            pattern: '*_rna_metrics.txt',
        ]
    }
    withName:multiqc {
        container = { workflow.containerEngine == 'singularity'
            ? 'https://depot.galaxyproject.org/singularity/multiqc:1.12--pyhdfd78af_0'
            : 'quay.io/biocontainers/multiqc:1.12--pyhdfd78af_0' }
        publishDir = [
            path: { "${params.output}/" },
            mode: 'copy',
            pattern: '*.html'
        ]
    }
    withName:stringtie {
        container = { workflow.containerEngine == 'singularity'
            ? 'https://depot.galaxyproject.org/singularity/stringtie:2.2.1--hecb563c_2'
            : 'quay.io/biocontainers/stringtie:2.2.1--hecb563c_2' }
        publishDir = [
            path: { "${params.output}/" },
            mode: 'copy',
            pattern: "*_stringtie.{gtf,tab}"
        ]
    }
    withName:gffcompare {
        container = { workflow.containerEngine == 'singularity'
            ? 'https://depot.galaxyproject.org/singularity/gffcompare:0.11.2--h7d875b9_2'
            : 'quay.io/biocontainers/gffcompare:0.11.2--h7d875b9_2' }
        publishDir = [
            path: { "${params.output}/" },
            mode: 'copy',
            pattern: "*{annotated.gtf,.stats}",
        ]
    }
    withName:index_bam {
        container = { workflow.containerEngine == 'singularity'
            ? 'https://depot.galaxyproject.org/singularity/samtools:1.14--hb421002_0'
            : 'quay.io/biocontainers/samtools:1.14--hb421002_0' }
        publishDir = [
            path: { "${params.output}/" },
            mode: 'copy',
            pattern: '*.bai',
        ]
    }
    withName:'bcftools_.*' {
        container = { workflow.containerEngine == 'singularity'
            ? 'https://depot.galaxyproject.org/singularity/bcftools:1.14--h88f3f91_0'
            : 'quay.io/biocontainers/bcftools:1.14--h88f3f91_0' }
    }
    withName:STAR_Aln {
        container = { workflow.containerEngine == 'singularity'
            ? 'https://depot.galaxyproject.org/singularity/star:2.7.8a--h9ee0642_1'
            : 'quay.io/biocontainers/star:2.7.8a--h9ee0642_1' }
        publishDir = [
            path: { "${params.output}/" },
            mode: 'copy',
            pattern: "*{_sorted.bam,ReadsPerGene.out.tab,Log.final.out}",
        ]
    }
    withName:gatk_split {
        container = { workflow.containerEngine == 'singularity'
            ? 'https://depot.galaxyproject.org/singularity/gatk4:4.2.4.1--hdfd78af_0'
            : 'quay.io/biocontainers/gatk4:4.2.4.1--hdfd78af_0' }
    }
    withName:gatk_haplotypecaller {
        container = { workflow.containerEngine == 'singularity'
            ? 'https://depot.galaxyproject.org/singularity/gatk4:4.2.4.1--hdfd78af_0'
            : 'quay.io/biocontainers/gatk4:4.2.4.1--hdfd78af_0' }
    }
    withName:gatk_asereadcounter {
        container = { workflow.containerEngine == 'singularity'
            ? 'https://depot.galaxyproject.org/singularity/gatk4:4.2.4.1--hdfd78af_0'
            : 'quay.io/biocontainers/gatk4:4.2.4.1--hdfd78af_0' }
    }
    withName:bootstrapann {
        container = 'docker.io/clinicalgenomics/bootstrapann:e557dd3'
    }
    withName:recompress_and_index_vcf {
        container = { workflow.containerEngine == 'singularity'
            ? 'https://depot.galaxyproject.org/singularity/bcftools:1.14--h88f3f91_0'
            : 'quay.io/biocontainers/bcftools:1.14--h88f3f91_0' }
        publishDir = [
            path: { "${params.output}/" },
            mode: 'copy',
            pattern: "*.{gz,gz.tbi}",
        ]
    }
    withName:build_rrna_intervallist {
        container = { workflow.containerEngine == 'singularity'
            ? 'https://depot.galaxyproject.org/singularity/gatk4:4.2.4.1--hdfd78af_0'
            : 'quay.io/biocontainers/gatk4:4.2.4.1--hdfd78af_0' }
    }
    withName:get_rrna_transcripts {
        container = 'docker.io/perl:5.30.3'
    }
    withName:filter_bam {
        container = { workflow.containerEngine == 'singularity'
            ? 'https://depot.galaxyproject.org/singularity/samtools:1.14--hb421002_0'
            : 'quay.io/biocontainers/samtools:1.14--hb421002_0' }
    }
    withName:vep {
        container = { workflow.containerEngine == 'singularity'
            ? 'https://depot.galaxyproject.org/singularity/ensembl-vep:104.3--pl5262h4a94de4_1'
            : 'docker.io/ensemblorg/ensembl-vep:release_104.3' }
        ext.args = "--cache_version 104 --hgvs --symbol --biotype --af_gnomad --exclude_predicted --canonical  --assembly ${params.genome}"
        publishDir = [
            path: { "${params.output}" },
            mode: 'copy',
            pattern: "*.html"
        ]
    }

    // DROP
    withName:'generate_gene_counts4drop|generate_SA4drop' {
        ext.when = {params.run_drop_ae}
        container = 'docker.io/jemten/python:3.9'
        publishDir = [
            path: { "${params.output}/drop" },
            mode: 'copy',
        ]
    }
    withName:drop_aberrant_expression {
        errorStrategy = 'ignore'
        ext.when = {params.run_drop_ae}
        container = 'clinicalgenomics/drop:1.2.1'
        publishDir = [
            path: { "${params.output}/drop" },
            mode: 'copy',
        ]
    }
}
