/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
        nextflow main.nf -c config.conf -profile test,<docker/singularity> --samplesheet .github/samplesheet_test.csv
----------------------------------------------------------------------------------------
*/
process {

    // Limit resources so that this can run on GitHub Actions
    executor = 'local'
    cpus = 2
    memory = "6GB"
    time = "1h"

    withName:STAR_Aln {
        container = 'quay.io/biocontainers/star:2.6.1d--0'
    }
    withName:vep {
        ext.when = 0
    }
    withName:drop_aberrant_expression {
        ext.when = 0
    }
}
params {

    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    samplesheet = '.github/samplesheet_test.csv'

    // Genome references
    annotation_refflat = ''
    fasta              = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genome.fa'
    gtf                = 'https://github.com/genomic-medicine-sweden/RareDisease_RNA_workflow/raw/main/.github/genes.gtf.gz'
    star_index         = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/star.tar.gz'

    // Other parameters
    rrn_intervals = false
    reference_count_file = null
}
